<section>

  <div class="container" style="margin-top: 5rem;">
    <h1>Dashboard van {{fname}} {{lname}} aka {{username}}</h1>
    <p>email: {{email}}</p>
    <p>Lid sinds: {{createdAt}}</p>

    <form action="/posts/logout" method="POST">
      <a href="/posts/logout" class="btn btn-dark">Logout</a>
    </form>

  </div>

</section>